In [1]:
# Leer ficheros de datos
import codecs
import pandas as pd
import pyarrow.parquet as pq
# Extraer informaci√≥n
from urllib.request import urlopen
from bs4 import BeautifulSoup
import requests
# Auxiliares
import numpy as np
import logging
from typing import Union
import pyarrow as pa
import seaborn as sns
import matplotlib.pyplot as plt

### Cargamos el parquet

In [2]:
df = pd.read_parquet('Datasets/PHA/PHA_Data.parquet', engine='pyarrow')

### Convertimos cualquier tipo de registro faltante a NaN

In [3]:
def clean_data(value): 
    # Si se trata de un valor en blanco sustituir a NaN 
    try: 
        if value in [None, 'nan']: 
            return np.nan 
         
        return value 
 
    except Exception as e: 
        return value 
     
# Iterar sobre todas las columnas y comprobar sus valores 
columns = len(df.columns) 
 
for column in df.columns: 
    # Utilizar compresion de listas y aplicar el filtrado de valores 
    values = [clean_data(value) for value in df[column]] 
    df[column] = values 
    columns -= 1 
    print(f'[+] REMAINING_COLUMNS\t{columns}\t', end='\r') 
     
df

,c1,c6,c7,c8,c10,c132,c134,c136,c138,c141,...,c150,c154,c156,c158,c161,c163,c183,c191,c229,c230
0,A,1975,1,1,NaN,NaN,NaN,NaN,NaN,NaN,...,POWERED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A,1975,1,1,NaN,NaN,NaN,NaN,NaN,NaN,...,POWERED,NaN,NaN,Wheeled-Tricycle,NaN,NaN,NaN,NaN,NaN,NaN
2,A,1975,1,1,NaN,NaN,NaN,NaN,NaN,NaN,...,POWERED,NaN,NaN,Wheeled-Tricycle,NaN,NaN,NaN,NaN,NaN,NaN
3,A,1975,1,1,NaN,NaN,NaN,NaN,NaN,NaN,...,POWERED,NaN,NaN,Wheeled-Tricycle,NaN,NaN,NaN,NaN,NaN,NaN
4,A,1975,1,1,NaN,NaN,NaN,NaN,NaN,NaN,...,POWERED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214882,I,2022,2,6,0930,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Wheeled-Tricycle,NaN,NaN,NaN,NaN,19470720.0,NaN
214883,I,2022,2,6,1710,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Wheeled-Tricycle,NaN,NaN,NaN,NaN,19700731.0,NaN
214884,I,2022,1,31,0832,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Wheeled-Tricycle,NaN,NaN,NaN,NaN,19810601.0,19980409.0
214885,I,2022,1,7,0407,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Wheeled-Tricycle,NaN,NaN,NaN,NaN,19520606.0,NaN
214886,A,2021,11,18,1130,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Wheeled-Conventional,NaN,NaN,NaN,NaN,19551213.0,NaN

### Cargamos cabecera  y convertimos a dataframe

In [4]:
url_legend = 'https://av-info.faa.gov/data/AID/Afilelayout.txt'
# Leemos el contenido de la leyenda
with urlopen(url_legend) as content:
    soup = BeautifulSoup(content, "html.parser")
    soup_lines = str(soup).split('\r\n')

# Transformamos la respuesta en un diccionario con el nombre de la columna y la descripci√≥n
legend_df = {"Column_name": [], "Description": []}
# Recorrer las lineas con datos de lineas. Se salta las dos primeras y las tres ultimas
# filas por no tener datos relevantes de la leyenda
for line in soup_lines[2:-3]:
    # Se extrae los 5 primeros caracteres para conocer el nombre de la columna
    legend_df["Column_name"].append(line[0:5].strip())
    # Se extrae la descripcion, esta comienza en la posicion 53
    legend_df["Description"].append(line[53:].strip())
    
# Convertir el diccionario en pandas.Dataframe
legend_df = pd.DataFrame.from_dict(data=legend_df)
legend_df

    Column_name                                        Description
0            c5  Unique control number used to relate to AID_MA...
1            c1                                      Type of Event
2            c2                                    FAR part number
3            c3        Form on which the latest data was received.
4            c4                   Agency conducting investigation.
..          ...                                                ...
174        c163                   2nd Additional cause factor text
175        c183  Supporting Factor Text                        ...
176        c191  Supporting cause factor B text.              O...
177        c229                               Date of Birth of PIC
178        c230                      Date of birth of second Pilot

[179 rows x 2 columns]

### Enumeramos las cabecera con la descripci√≥n para poder verlas mejor y seleccionamos las columnas que podr√≠an ser relevantes

In [5]:
used_columns = ['c1', 'c6', 'c7', 'c8', 'c10', 'c132', 'c134', 'c136', 'c138', 'c141', 'c160', 'c162', 'c23', 'c24', 'c11', 'c14', 'c20', 'c21', 'c102', 'c104', 'c106', 'c108', 'c110', 'c114', 'c115', 'c117', 'c118', 'c61', 'c62', 'c65', 'c67', 'c68', 'c41', 'c45', 'c47', 'c49', 'c50', 'c52', 'c53', 'c54', 'c55', 'c56', 'c59', 'c119', 'c120', 'c121', 'c122', 'c126', 'c127', 'c128', 'c130', 'c78', 'c80', 'c82', 'c84', 'c86', 'c88', 'c90', 'c92', 'c94', 'c96', 'c44', 'c46', 'c48', 'c51', 'c229', 'c230']
#used_columns = [f'c{idx}' for idx in used_columns]

for col in used_columns:
    description = legend_df[legend_df["Column_name"] == col]["Description"].values[0]
    print(f'[+]  Descripci√≥n columnas\t{col}\t{description}')

[+]  Descripci√≥n columnas	c1	Type of Event
[+]  Descripci√≥n columnas	c6	Year the accident/incident happened.
[+]  Descripci√≥n columnas	c7	Month the accident/incident happened.
[+]  Descripci√≥n columnas	c8	Day the accident/incident happened.
[+]  Descripci√≥n columnas	c10	Local time of the accident/incident.
[+]  Descripci√≥n columnas	c132	First remedial action area code
[+]  Descripci√≥n columnas	c134	First remedial action taken code
[+]  Descripci√≥n columnas	c136	Second remedial action area code
[+]  Descripci√≥n columnas	c138	Second remedial action taken code
[+]  Descripci√≥n columnas	c141	Method of notification
[+]  Descripci√≥n columnas	c160	Additional cause factor code
[+]  Descripci√≥n columnas	c162	2nd Additional cause factor code
[+]  Descripci√≥n columnas	c23	Make of the aircraft
[+]  Descripci√≥n columnas	c24	Model of the aircraft
[+]  Descripci√≥n columnas	c11	Region of the accident/incident location.
[+]  Descripci√≥n columnas	c14	City of the accident/incident location.
[+]  Descripci√≥n columnas	c20	Latitude coordinates of the accident/incident
[+]  Descripci√≥n columnas	c21	Longitude coordinates of the accident/incident
[+]  Descripci√≥n columnas	c102	Primary type of flying code
[+]  Descripci√≥n columnas	c104	Secondary type of flying code
[+]  Descripci√≥n columnas	c106	Primary flying condition code
[+]  Descripci√≥n columnas	c108	Secondary flying condition code
[+]  Descripci√≥n columnas	c110	Light condition code
[+]  Descripci√≥n columnas	c114	Visibility code
[+]  Descripci√≥n columnas	c115	Visibility restriction code.
[+]  Descripci√≥n columnas	c117	Runway condition code
[+]  Descripci√≥n columnas	c118	Braking condition code
[+]  Descripci√≥n columnas	c61	Including crew and passengers.
[+]  Descripci√≥n columnas	c62	Number of passengers onboard
[+]  Descripci√≥n columnas	c65	Number of flight crew members onboard
[+]  Descripci√≥n columnas	c67	Number of flight crew members injured
[+]  Descripci√≥n columnas	c68	Number of cabin crew members onboard
[+]  Descripci√≥n columnas	c41	Certificate type code of the pilot in command
[+]  Descripci√≥n columnas	c45	Rating code of the pilot in command
[+]  Descripci√≥n columnas	c47	Any other rating code of the pilot in command .
[+]  Descripci√≥n columnas	c49	Qualification code of the pilot in command .
[+]  Descripci√≥n columnas	c50	Age of the pilot in command
[+]  Descripci√≥n columnas	c52	Profession code of the pilot in command
[+]  Descripci√≥n columnas	c53	Total number of hours the pilot has flown in the specific make and model of the aircraft .
[+]  Descripci√≥n columnas	c54	Total number of hours in the last 90 days the pilot has flown this make and model
[+]  Descripci√≥n columnas	c55	Total number of hours in the last 90 days the pilot  has flown.
[+]  Descripci√≥n columnas	c56	Total number of hours the pilot has flown.
[+]  Descripci√≥n columnas	c59	Residence state of the pilot in command
[+]  Descripci√≥n columnas	c119	Partial remarks on reports and where space needs to be conserved.
[+]  Descripci√≥n columnas	c120	Name of the owner / operator of aircraft
[+]  Descripci√≥n columnas	c121	State of the owner / operator
[+]  Descripci√≥n columnas	c122	Designator code of the air operator (OPCD)
[+]  Descripci√≥n columnas	c126	Certificate number of the air agency
[+]  Descripci√≥n columnas	c127	Region of the air operator
[+]  Descripci√≥n columnas	c128	District office of the air operator
[+]  Descripci√≥n columnas	c130	Flight plan description
[+]  Descripci√≥n columnas	c78	Primary cause factor code
[+]  Descripci√≥n columnas	c80	Contributing factor code
[+]  Descripci√≥n columnas	c82	Persons involved code
[+]  Descripci√≥n columnas	c84	Supporting factor code                              TECHNICAL
[+]  Descripci√≥n columnas	c86	Secondary cause factor code
[+]  Descripci√≥n columnas	c88	Second contributing case code f
[+]  Descripci√≥n columnas	c90	Second persons involved code
[+]  Descripci√≥n columnas	c92	Second supporting factor code .               TECHNICAL
[+]  Descripci√≥n columnas	c94	Type of accident code
[+]  Descripci√≥n columnas	c96	Phase of flight code
[+]  Descripci√≥n columnas	c44	Rating description of the pilot in command
[+]  Descripci√≥n columnas	c46	Any other rating description of the pilot in command
[+]  Descripci√≥n columnas	c48	Qualification description of the pilot in command
[+]  Descripci√≥n columnas	c51	Profession description of the pilot in command
[+]  Descripci√≥n columnas	c229	Date of Birth of PIC
[+]  Descripci√≥n columnas	c230	Date of birth of second Pilot

### Creamos dataframe a partir del primario usando solamente las columnas de la lista anteriormente  generada

In [6]:
data= df.loc[:, used_columns]
data

,c1,c6,c7,c8,c10,c132,c134,c136,c138,c141,...,c90,c92,c94,c96,c44,c46,c48,c51,c229,c230
0,A,1975,1,1,NaN,NaN,NaN,NaN,NaN,NaN,...,A,NaN,KX,IB,ASMEL,INSTRUMENT,FLT INST QUALIFIED I,PROFESSIONAL PILOT,NaN,NaN
1,A,1975,1,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,JJ,DD,ASEL,INSTRUMENT,QUAL IN OPER NOT FLI,STUDENT,NaN,NaN
2,A,1975,1,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,JA,DD,ASEL,RATINGS SHOWN BY 1ST,QUAL IN OPER NOT FLI,OTHER,NaN,NaN
3,A,1975,1,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,AA,HB,ASEL,RATINGS SHOWN BY 1ST,QUAL IN OPER NOT FLI,ENGINEER,NaN,NaN
4,A,1975,1,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,AA,IA,ASEL,RATINGS SHOWN BY 1ST,QUAL IN OPER NOT FLI,OTHER,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214882,I,2022,2,6,0930,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,CR,NaN,NaN,NaN,NaN,19470720.0,NaN
214883,I,2022,2,6,1710,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,TC,NaN,NaN,NaN,NaN,19700731.0,NaN
214884,I,2022,1,31,0832,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,TD,NaN,NaN,NaN,NaN,19810601.0,19980409.0
214885,I,2022,1,7,0407,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,LT,NaN,NaN,NaN,NaN,19520606.0,NaN
214886,A,2021,11,18,1130,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,LA,NaN,NaN,NaN,NaN,19551213.0,NaN

### Realizamos un conteo de los datos faltantes NaN de las columnas que pueden ser potenciales


# Configurar el tama√±o de la figura
plt.figure(figsize=(10, 8))

# Crear un mapa de calor para visualizar los valores faltantes
sns.heatmap(data.isna(), cmap='viridis')

In [7]:
# Contar el n√∫mero de valores NaN en cada columna
print(data.isna().sum())

c1           8
c6           0
c7          33
c8          33
c10      21286
         ...
c46      51213
c48      58745
c51      49902
c229    202962
c230    213480
Length: 67, dtype: int64

### Procedemos a borrar las columnas con demasiados datos faltantes (m√°s de 100.000 unidades) y las filas que tengan m√°s de 3 valores faltantes

In [8]:
#Borramos columnas que tengan m√°s de 100.000 datos faltantes  
data = data.dropna(thresh=len(data) - 100000, axis=1)
df = df.dropna(thresh=3)

### Volvemos a contar despues del borrado para ver que columnas son aprovechables

In [9]:
# Contar el n√∫mero de valores NaN en cada columna
print(data.isna().sum())

c1          8
c6          0
c7         33
c8         33
c10     21286
c132    59855
c134    56536
c141    78874
c23      1967
c24      1839
c11       508
c14      1847
c102    41436
c104    41518
c106    42958
c108    43218
c110    46444
c61        33
c62      5967
c65      5967
c67      5967
c68      5967
c41     13801
c45     57794
c47     51213
c49     58745
c50     48583
c52     49902
c53     36021
c54     91362
c55     40299
c56     37095
c59     58919
c119     5427
c130    64166
c78     39275
c94     44033
c96      7062
c44     57794
c46     51213
c48     58745
c51     49902
dtype: int64

In [10]:
columnas = list(data.columns)
#unused_columns = [5, 3, 2, 4, 9, 75, 140, 139, 203, 204, 214, 790, 26, 37, 15, 16, 17,18, 19, 143, 205, 206, 207, 208, 210, 43, 129, 124, 125, 77]
#unused_columns = [f'c{idx}' for idx in unused_columns]

for col in columnas:
    description = legend_df[legend_df["Column_name"] == col]["Description"].values[0]
    print(f'[+] Descripci√≥n columnas\t{col}\t{description}')

[+] Descripci√≥n columnas	c1	Type of Event
[+] Descripci√≥n columnas	c6	Year the accident/incident happened.
[+] Descripci√≥n columnas	c7	Month the accident/incident happened.
[+] Descripci√≥n columnas	c8	Day the accident/incident happened.
[+] Descripci√≥n columnas	c10	Local time of the accident/incident.
[+] Descripci√≥n columnas	c132	First remedial action area code
[+] Descripci√≥n columnas	c134	First remedial action taken code
[+] Descripci√≥n columnas	c141	Method of notification
[+] Descripci√≥n columnas	c23	Make of the aircraft
[+] Descripci√≥n columnas	c24	Model of the aircraft
[+] Descripci√≥n columnas	c11	Region of the accident/incident location.
[+] Descripci√≥n columnas	c14	City of the accident/incident location.
[+] Descripci√≥n columnas	c102	Primary type of flying code
[+] Descripci√≥n columnas	c104	Secondary type of flying code
[+] Descripci√≥n columnas	c106	Primary flying condition code
[+] Descripci√≥n columnas	c108	Secondary flying condition code
[+] Descripci√≥n columnas	c110	Light condition code
[+] Descripci√≥n columnas	c61	Including crew and passengers.
[+] Descripci√≥n columnas	c62	Number of passengers onboard
[+] Descripci√≥n columnas	c65	Number of flight crew members onboard
[+] Descripci√≥n columnas	c67	Number of flight crew members injured
[+] Descripci√≥n columnas	c68	Number of cabin crew members onboard
[+] Descripci√≥n columnas	c41	Certificate type code of the pilot in command
[+] Descripci√≥n columnas	c45	Rating code of the pilot in command
[+] Descripci√≥n columnas	c47	Any other rating code of the pilot in command .
[+] Descripci√≥n columnas	c49	Qualification code of the pilot in command .
[+] Descripci√≥n columnas	c50	Age of the pilot in command
[+] Descripci√≥n columnas	c52	Profession code of the pilot in command
[+] Descripci√≥n columnas	c53	Total number of hours the pilot has flown in the specific make and model of the aircraft .
[+] Descripci√≥n columnas	c54	Total number of hours in the last 90 days the pilot has flown this make and model
[+] Descripci√≥n columnas	c55	Total number of hours in the last 90 days the pilot  has flown.
[+] Descripci√≥n columnas	c56	Total number of hours the pilot has flown.
[+] Descripci√≥n columnas	c59	Residence state of the pilot in command
[+] Descripci√≥n columnas	c119	Partial remarks on reports and where space needs to be conserved.
[+] Descripci√≥n columnas	c130	Flight plan description
[+] Descripci√≥n columnas	c78	Primary cause factor code
[+] Descripci√≥n columnas	c94	Type of accident code
[+] Descripci√≥n columnas	c96	Phase of flight code
[+] Descripci√≥n columnas	c44	Rating description of the pilot in command
[+] Descripci√≥n columnas	c46	Any other rating description of the pilot in command
[+] Descripci√≥n columnas	c48	Qualification description of the pilot in command
[+] Descripci√≥n columnas	c51	Profession description of the pilot in command

### Imputaci√≥n